body {
color:aliceblue;    
background: url(images/temple.jpg) no-repeat center center fixed ;
background-size: cover;
}

h1{
    text-align: center;
    background-color:#722f37;
    color:cornsilk;
}

img {
    float: left;
}
p{
font-family: 'Source Sans Pro', sans-serif;
}